{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--====== Title ======-->
        <title>Fioxen - Directory & Listings HTML Template</title>
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="static/assets/images/favicon.ico" type="image/png">
        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
        <!--====== FontAwesoem css ======-->
        <link rel="stylesheet" href="static/assets/fonts/themify-icons/themify-icons.css">
        <!--====== Flaticon css ======-->
        <link rel="stylesheet" href="static/assets/fonts/flaticon/flaticon.css">
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
        <!--====== Slick css ======-->
        <link rel="stylesheet" href="static/assets/css/slick.css">
        <!--====== Nice-select css ======-->
        <link rel="stylesheet" href="static/assets/css/nice-select.css">
        <!--====== Jquery ui css ======-->
        <link rel="stylesheet" href="static/assets/css/jquery-ui.min.css">
        <!--====== Animate css ======-->
        <link rel="stylesheet" href="static/assets/css/animate.css">
        <!--====== Default css ======-->
        <link rel="stylesheet" href="static/assets/css/default.css">
        <!--====== Style css ======-->
        <link rel="stylesheet" href="static/assets/css/style.css">
    </head>
    <header class="header-area header-area-one">
          
        <div class="header-navigation">
            <div class="container-fluid">
                <div class="primary-menu">
                    <div class="row">
                        <div class="col-lg-2 col-5">
                            <div class="site-branding">
                                <a href="index.html" class="brand-logo"><img src="static/assets/images/logo/logo-1.png" alt="Brand Logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-2">
                            <div class="nav-menu">
                                <div class="navbar-close"><i class="ti-close"></i></div>
                                <nav class="main-menu">
                                 
                                    <ul> 
                                        {% if request.user.is_authenticated %}
                                        <li class="menu-item"><a href="/">Welcome {{request.user}}</a></li>
                                        <li class="menu-item "><a class="nav-item nav-link active" href="/profile/">Profile</a> </li>
                                        
                                        <li class="menu-item "><a class="nav-item nav-link active" href="/see_all_request/">See All Request</a> </li>
                                   
                                         <li class="menu-item has-children"><a href="#">Settings</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item "><a class="nav-item nav-link active" href="/edit_profile/">Edit Profile</a> </li>
                                            <li class="menu-item"> <a class="nav-item nav-link active" href="/logout/">Logout</a></li>
                                                                                </ul>
                                      
                                    </li>
                                    {% else %}
                                        <li class="menu-item "><a href="/" class="active">Home</a>
                                        
                                        </li>

                                        <li class="menu-item "><a href="/request_blood/">Request Blood</a>
                                           
                                        </li>
                                        <li class="menu-item"><a href="/see_all_request/">All Requests</a>
                                         
                                        </li>
                                      
                                        <li class="menu-item"><a href="/become_donor/">Register</a></li>
                                        <li class="nav-btn"><a href="/login/" class="main-btn icon-btn">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-4 col-5">
                            <div class="header-right-nav">
                                <ul class="d-flex align-items-center">
                                    {% if request.user.is_authenticated %}
                                    <li class="user-btn"><a href="/profile/" class="icon"><i class="flaticon-avatar"></i></a></li>

                                    {% else %}
                                    

                                    <li class="hero-nav-btn"><a href="/login/" class="main-btn icon-btn">Login</a></li>
                                    {% endif %}
                                    <li class="nav-toggle-btn">
                                        <div class="navbar-toggler">
                                            <span></span><span></span><span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>
        {% block content %}
        {% endblock %}
        <!--====== Start Footer ======-->
    <footer class="footer-area">
        <div class="footer-wrapper-one dark-black pt-90">
            <div class="footer-widget pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="widget about-widget mb-40">
                                <h4 class="widget-title">Mobile Experience</h4>
                                <ul class="button">
                                    <li>
                                        <a href="#" class="app-btn android-btn">
                                            <div class="icon">
                                                <i class="ti-android"></i>
                                            </div>
                                            <div class="info">
                                                <span>get it on</span>
                                                <h6>Goole Play</h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="app-btn apple-btn">
                                            <div class="icon">
                                                <i class="ti-apple"></i>
                                            </div>
                                            <div class="info">
                                                <span>get it on</span>
                                                <h6>App Store</h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="footer-social">
                                    <h4>Follow Us</h4>
                                    <ul class="social-link">
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                        <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget recent-post-widget mb-40">
                                <h4 class="widget-title">Recent News</h4>
                                <ul class="post-widget-list">
                                    <li class="post-content-item">
                                        <div class="post-title-date">
                                            <span class="posted-on"><a href="#">22 August - 2021</a></span>
                                            <h6 class="title"><a href="blog-details.html">Facilisis a ultricies quis
                                                dictumst fredom...</a></h6>
                                        </div>
                                    </li>
                                    <li class="post-content-item">
                                        <div class="post-title-date">
                                            <span class="posted-on"><a href="#">22 August - 2021</a></span>
                                            <h6 class="title"><a href="blog-details.html">Facilisis a ultricies quis
                                                dictumst fredom...</a></h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget categories-widget mb-40">
                                <h4 class="widget-title">Services</h4>
                                <ul class="categories-link">
                                    <li><a href="#">Request Blood</a></li>
                                    <li><a href="#">All Doners</a></li>
                                   
                        
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget newsletter-widget mb-40">
                                <h4 class="widget-title">Contact</h4>
                                <p>Donate blood and be the reason for someone's existence</p>
                                <form>
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Enter Email" name="email" required>
                                    </div>
                                    <div class="form_group">
                                        <button class="main-btn">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="copyright-text">
                                <p>Copyright &copy; All Rights Reserved, Share By <a href=""><span>Tazy Solutions</span></a></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="copyright-link">
                                <ul>
                                    <li><a href="#">Terms & Conditins</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Career</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--====== End Footer ======-->
    <!--====== back-to-top ======-->
    <a href="#" class="back-to-top" ><i class="ti-angle-up"></i></a>
    <!--====== Jquery js ======-->
    <script src="static/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!--====== Popper js ======-->
    <script src="static/assets/js/popper.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!--====== Slick js ======-->
    <script src="static/assets/js/slick.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="static/assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== Isotope js ======-->
    <script src="static/assets/js/isotope.pkgd.min.js"></script>
    <!--====== Imagesloaded js ======-->
    <script src="static/assets/js/imagesloaded.pkgd.min.js"></script>
    <!--====== Nice-select js ======-->
    <script src="static/assets/js/jquery.nice-select.min.js"></script>
    <!--====== counterup js ======-->
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <!--====== waypoints js ======-->
    <script src="static/assets/js/jquery.waypoints.js"></script>
    <!--====== Ui js ======-->
    <script src="static/assets/js/jquery-ui.min.js"></script>
    <!--====== Wow js ======-->
    <script src="static/assets/js/wow.min.js"></script>
    <!--====== Main js ======-->
    <script src="static/assets/js/main.js"></script>
</body>
</html>