

{%block content%}
<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Montero | One Page Parallax HTML5 Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/fancybox.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<br>
<br>

<br>


<section>
    <h3 id="title" style="text-align:center;">Reset Password</h3>
    {% if messages %}
    {% for message in messages %}
        <div class="alert mb-3 alert-danger alert-dismissible fade show" role="alert">
            <strong> {{ message }}. </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
</section>
<form method="POST"> 
    
    {% csrf_token %}
    <div class="container mt-5">
        <div class="mb-3">
            <label for="username" class="form-label"><i style="font-weight: bold;">New Password</i></label>
            <input required type="password" class="form-control" name="new_password" placeholder="Password" autocomplete="current-password">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label"><i style="font-weight: bold;">Confirm Password</i></label>
            <input required type="password" class="form-control" name="confirm_password" placeholder="Password" autocomplete="current-password">
        </div>
      
        <input name ="user_id" type="hidden" value="{{ user_id}}"/>

        <br>
        <input type="submit" value="Submit" class="btn btn-danger" style="color: white; font-size: larger; width: 8rem;">
        <br>
        <br>
        <a href="{% url 'become_donor' %}">Register</a>
    </div>
</form>
<br>
<br>

{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Inavalid Credentials");
    document.location = "/login"
    {% endif %}
</script>
{% endblock %}