<!DOCTYPE html>
<html lang="us">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Montero | One Page Parallax HTML5 Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/fancybox.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="pageWrapper">
		<main>
			<section class="thankyouBlock position-relative text-center pt-16 pb-12">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
							<header class="header px-xl-1 mb-10 mb-lg-12">
								<div class="logo mb-8 mb-md-12 mb-lg-18 mx-auto">
									<a href="home.html">
										<img src="images/logo.png" class="img-fluid" alt="Montero">
									</a>
								</div>
								<h1>
									<strong class="d-block fwSemibold">Thank you for helping us </strong>	
									<strong class="d-block fwSemibold mb-xl-6">Make this a reality!</strong>
								</h1>
								<p>
									<span class="d-block">Agencies around the world are moving to the digital agencies.</span>
									<span class="d-block">So, It is high time to introduce your agency digitaly.</span>
								</p>
							</header>
							<div class="videoHolder shadow-sm position-relative mb-5 mb-sm-7 mb-md-9">
								<img src="http://placehold.it/770x500" alt="image description" class="img-fluid">
								<div class="playBtnHolder pt-6 text-white position-absolute">
									<a data-fancybox="true" href="https://youtu.be/GGSKpJGpyuo" class="playBtnWrap position-relative mx-auto d-flex align-items-center justify-content-center bg-white rounded-circle mb-7">
										<span class="d-block playIcn"></span>
									</a>
									<h4>
										<strong class="imhTxt d-block">
											<img src="images/imgTxt.png" class="img-fluid" alt="Watch Overview in 40 Second">
										</strong>
									</h4>
									<div class="arrowImg position-absolute">
										<img src="images/arrowTop.png" class="img-fluid" alt="arrow direction">
									</div>
								</div>
							</div>
							<p>Working every day to earn our customers’ trust.	<a href="javascript:void(0);" class="click">Get Started!</a></p>
						</div>
					</div>
				</div>
				<span class="circleGradient d-none d-sm-block overflow-hidden rounded-circle position-absolute" data-circle="circleI"></span>
				<span class="circleGradient d-none d-sm-block overflow-hidden 	rounded-circle position-absolute" data-circle="circleII"></span>
				<span class="ovelGradientII d-block position-absolute">
					<img src="images/ovel.png" class="img-fluid" alt="Graident image">
				</span>
			</section>
			<div class="footerArea text-center py-5">
				<div class="container">
					<p>2020 © <a href="home.html">Montero.</a> All rights reserved.</p>
				</div>
			</div>
		</main>
		<!-- back top of the page -->
		<span id="back-top" class="text-center rounded-circle fa fa-angle-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
			<div class="block"><img src="images/svg/puff.svg" width="100" alt="loader"></div>			
		</div>
	</div>
	<!-- include jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- include jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- include jQuery -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- include jQuery -->
	<script src="js/jqueryCustom.js"></script>
	<!-- include jQuery -->
	<script src="js/formValidator.js"></script>
</body>
</html>